<form class="form-place" method="POST">
    <h2>Cadastro Estabelecimento</h2>
    <fieldset>
        {{ place_form.hidden_tag() }}
        {% for field in place_form %}
            <div class="field">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="notification error"> {{ error }}</div>
                    {% endfor %}
                {% endif %}
                {{ field(placeholder=field.label.text) }}
            </div>
        {% endfor %}
        <button type="submit" id="submit">Cadastrar!</button>
    </fieldset>
</form>
