<button type="submit" class="sigin">Cadastre-se</button>
<form class="form-sigin" method="POST">
	<h1>Cadastro</h1>
    <fieldset>
    	<label for="name">Nome:</label>
    	<input type="text" id="name" placeholder="Nome" name="name">

    	<label for="age">Data de Nascimento:</label>
    	<input type="text" id="bday" placeholder="__/__/___" name="bday">

    	<label>Sexo:</label>
    	<input type="radio" id="man" value="man" name="genre"><label for="man">Homem</label>
    	<input type="radio" id="woman" value="woman" name="genre"><label for="woman">Mulher</label>

        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Senha" name="password">

        <input type="text" placeholder="Endereço" name="address">
        <input type="text" placeholder="Cidade" name="city">
        <input type="text" placeholder="Estado" name="state">

    	<label>Tipo:</label>
    	<input type="radio" id="player" value="player" name="type"><label for="player">Jogador</label>
    	<input type="radio" id="place" value="place" name="type"><label for="place">Estabelecimento</label>

        <input type="text"     class="form-field" placeholder="Email" name="email">
        <input type="password" class="form-field" placeholder="Senha" name="password">
        <input type="confirm-password" class="form-field" placeholder="Senha outra vez" name="confirm-password">

    </fieldset>
    <button type="submit">Cadastrar</button>
</form>