{% extends 'layout/base.html' %}

{% block span %}
<span class="menu-anchor"></span>
{% endblock %}

{% block menu %}
<menu>
	<ul>
        <li><a href={{ url_for('home') }}>Home</a></li>
        <li><a href={{ url_for('profile') }}>{{ current_user.username }}</a></li>
		<li><a href="#">Amigos</a></li>
		<li><a href="#">Locais</a></li>
        <li><a href={{ url_for('logout') }}>Sair</a></li>
	</ul>
</menu>
{% endblock %}


{% block scriptjs %}
<script src="{{ url_for('static', filename="js/home.js") }}"></script>
{% endblock %}
